mixin analyze-list(data)
    ul.analyze-list
        li.analyze-list__item
            .analyze-list__brand
                img.analyze-list__logo(src='../../../img/content/brand-company-01.png' alt='brand-company')
            .analyze-list__text График&nbsp;изменения&nbsp;средней&nbsp;стоимости 1&nbsp;учетной&nbsp;страницы&nbsp;на&nbsp;примере Адвокатского&nbsp;Бюро&nbsp;EPAM (юридическая&nbsp;компания)
            img.analyze-list__diagram(src='../../../img/content/company-schedule-01.png' alt='company-schedule')

        li.analyze-list__item
            .analyze-list__brand
                img.analyze-list__logo(src='../../../img/content/brand-company-02.png' alt='brand-company')
            .analyze-list__text График&nbsp;изменения&nbsp;средней&nbsp;стоимости 1&nbsp;учетной&nbsp;страницы на&nbsp;примере&nbsp;LG&nbsp;Life&nbsp;Sciences (регистрационные&nbsp;досье)
            img.analyze-list__diagram(src='../../../img/content/company-schedule-02.png' alt='company-schedule')

        li.analyze-list__item
            .analyze-list__brand
                img.analyze-list__logo(src='../../../img/content/brand-company-03.png' alt='brand-company')
            .analyze-list__text График&nbsp;изменения&nbsp;средней&nbsp;стоимости 1&nbsp;учетной&nbsp;страницы на&nbsp;примере&nbsp;компании&nbsp;ARDO (инструкции&nbsp;по&nbsp;эксплуатации)
            img.analyze-list__diagram(src='../../../img/content/company-schedule-03.png' alt='company-schedule')
