mixin advantages-list(data)
    ul.advantages-list
        li.advantages-list__item
            img.advantages-list__img(src='../../../img/content/icon-07.png' alt='icon-07')
            p.advantages-list__description Высокая скорость, недоступная традиционным методикам&nbsp;перевода
        li.advantages-list__item
            img.advantages-list__img(src='../../../img/content/icon-08.png' alt='icon-08')
            p.advantages-list__description Стабильно высокое&nbsp;качество, невозможное для машинного перевода
        li.advantages-list__item
            img.advantages-list__img(src='../../../img/content/icon-09.png' alt='icon-09')
            p.advantages-list__description Экономия! При переводе большого&nbsp;количества&nbsp;текстов, Вы экономите – до 70% своего бюджета!
