mixin recomendation(data)
    .recomendation__cnt
        // Swiper
        .swiper-container.recomendation-container
            .swiper-wrapper
                .swiper-slide.recomendation__slide
                    div
                        .recomendation__slide-title Оперативность переводов
                        .recomendation__slide-text Стандартная скорость перевода в отрасли – 8-10 страниц в день. Мы работаем со&nbsp;стандартной скоростью 15 страниц в день. В отдельных случаях специалисты Eclipse могут обеспечить вам до 300 страниц профессионального перевода в сутки. Можно ли сделать больше? Вероятно. Можно ли сделать лучше? Нет.
                .swiper-slide.recomendation__slide
                    div
                        .recomendation__slide-title Технология проверки качества и сквозной терминологии (QA)
                        .recomendation__slide-text Внедрение специализированного софта по автоматизации не только ускоряет работу наших переводчиков, но и позволяет нам поддерживать стабильно высокое качество. Точность каждого знака – стандарт нашей работы.
                .swiper-slide.recomendation__slide
                    div
                        .recomendation__slide-title Высокая квалификация сотрудников
                        .recomendation__slide-text С нами работают дипломированные переводчики. Профессиональные лингвисты. Носители языка из 120 стран мира. Более 1200 специалистов. Сотрудничая с нами, вы способны говорить на любом языке мира.
                .swiper-slide.recomendation__slide
                    div
                        .recomendation__slide-title Безупречное обслуживание
                        .recomendation__slide-text Ищете переводчика на деловую встречу? Поможем подобрать. Есть особые пожелания к тексту? Учтем.  Желаете увидеться, чтобы обсудить дополнительные вопросы – будем рады личной встрече. Возникли срочные поправки к проекту – их внесет ваш персональный менеджер. Для вас мы работаем 24 часа в сутки
        // Add Pagination
        .recomendation-pagination
