.recomendation-bg{
  background: lightcoral url('../../../img/content/slide-bg-blur.png');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 0 61px;
}

.recomendation{
  &__cnt{
    width: 760px;
    margin: 0 auto 138px;
  }

  &__slide{
    display: flex;
    flex-direction: column;
  }
  &__slide-title{
    color: $red;
    font-size: 25px;
    letter-spacing: 0.1px;
  }
  &__slide-text{
    font-size: 18px;
  }
}

.recomendation{
  &__slide-title + &__slide-text{
    margin-top: 27px;
  }
}


.recomendation__cnt{
  position: relative;
}
.recomendation-pagination{
  position: absolute;
  left: 50%;
  bottom: -70px;
  transform: translateX(-50%);
}
.swiper-pagination-bullet{
  width: 6px;
  height: 6px;
  border: 1px solid lighten($black, 40.00);
  background: none;
  //opacity: 1;
  margin: 0 4px;
}
.swiper-pagination-bullet-active{
  background: $red;
  box-shadow: 0 0 4px 4px $red;
  opacity: 1;
}




