mixin nav(data)
    .container
        nav.nav
            ul.nav-list
                li.nav-list__item.active
                    a.nav-list__link(href='#') Главная
                li.nav-list__item
                    a.nav-list__link(href='#') Письменные переводы
                li.nav-list__item
                    a.nav-list__link(href='#') Устные переводы
                li.nav-list__item
                    a.nav-list__link(href='#') Контакты
