mixin language-list(data)

    ul.language-list(class= data)
        li.language-list__item
            a.language-list__link(href='#') En
        li.language-list__item
            a.language-list__link.active(href='#') Ru
        li.language-list__item
            a.language-list__link(href='#') It
        li.language-list__item
            a.language-list__link(href='#') De
        li.language-list__item
            a.language-list__link(href='#') Fr
        li.language-list__item
            a.language-list__link(href='#') Es
        li.language-list__item
            a.language-list__link(href='#') Pt
