mixin recomendation-mark(data)
    .recomendation-mark
        .container
            .recomendation-mark__title
                span.recomendation-mark__persent 73%
                span.recomendation-mark__delimetr
                    span.recomendation-mark__first новых клиентов
                    span.recomendation-mark__second приходят к нам по рекомендации
                    span.recomendation-mark__question Почему же нас рекомендуют?
