mixin file-loader(data)
    #progress-bar
        .progress-circle(data-percent='0')
            span.percent 0%
            .left-half-clipper
                .first50-bar
                .value-bar
