mixin technology(data)
    .technology
        h2.technology__title
            span CAT–технология
            span Translation Memory
            span Сократите до 70% расходов НА УСЛУГИ ПЕРЕВОДА

        .technology__description Наша компания использует самые современные технологии для повышения эффективности работы переводчиков. С&nbsp;технологией <span>Translation Memory</span> вам не придётся платить за многократный перевод повторяющихся фрагментов текста.

        .technology__flow
            #swiperPreview.swiperPreview-container.swiper-container
                .swiperPreview-wrapper.swiper-wrapper
                    .swiperPreview.swiper-slide
                        input(type='hidden', origin='../../../img/content/excel-table-01-big.png')
                        img.swiperPreview__img(src='../../../img/content/excel-table-01.png', alt='')
                        div
                            .swiperPreview__index 1
                            .swiperPreview__text
                                | Наш переводчик выполняет перевод
                                br
                                |  термина/фразы/предложения
                    .swiperPreview.swiper-slide
                        input(type='hidden', origin='../../../img/content/excel-table-02-big.png')
                        img.swiperPreview__img(src='../../../img/content/excel-table-02.png', alt='')
                        div
                            .swiperPreview__index 2
                            .swiperPreview__text
                                | Перевод сохраняется в памяти переводов
                                br
                                |  (Translation Memory)
                    .swiperPreview.swiper-slide
                        input(type='hidden', origin='../../../img/content/excel-table-03-big.png')
                        img.swiperPreview__img(src='../../../img/content/excel-table-03.png', alt='')
                        div
                            .swiperPreview__index 3
                            .swiperPreview__text
                                | Система автоматически использует то же значение
                                br
                                |  для всех последующих случаев, экономя время и ваш бюджет
                    .swiperPreview.swiper-slide
                        input(type='hidden', origin='../../../img/content/excel-table-04-big.png')
                        img.swiperPreview__img(src='../../../img/content/excel-table-04.png', alt='')
                        div
                            .swiperPreview__index 4
                            .swiperPreview__text
                                | По мере наполнения памяти переводов (Translation Memory)
                                br
                                |  вы все больше и больше экономите время и ваш бюджет
                    .swiperPreview.swiper-slide
                        input(type='hidden', origin='../../../img/content/excel-table-05-big.png')
                        img.swiperPreview__img(src='../../../img/content/excel-table-05.png', alt='')
                        div
                            .swiperPreview__index 5
                            .swiperPreview__text Больше текстов – перевод быстрее и выгоднее!
                .swiper-pagination
                //.swiperPreview-pagination
