mixin translator(data)
    .translator
        .translator__wrapp
            h2.translator__title Наши
                span устные
                span переводчики
            .translator__description Это лишь некоторые из&nbsp;наших&nbsp;лучших&nbsp;сотрудников:

        // Swiper
        .swiper-container.translator-container
            .swiper-wrapper
                .swiper-slide
                    .translator__card
                        .translator__img-container
                            img.translator__photo(src='../../../img/content/people-01.png' alt='')
                        .translator__text-container
                            .translator__name Алексей
                            .translator__lang
                                | Китайский язык
                .swiper-slide
                    .translator__card
                        .translator__img-container
                            img.translator__photo(src='../../../img/content/people-02.png' alt='')
                        .translator__text-container
                            .translator__name Ренат
                            .translator__lang
                                | Английский,
                                | турецкий языки

                .swiper-slide
                    .translator__card
                        .translator__img-container
                            img.translator__photo(src='../../../img/content/people-03.png' alt='')
                        .translator__text-container
                            .translator__name Елизавета
                            .translator__lang
                                | Немецкий язык

                .swiper-slide
                    .translator__card
                        .translator__img-container
                            img.translator__photo(src='../../../img/content/people-04.png' alt='')
                        .translator__text-container
                            .translator__name Евгений
                            .translator__lang
                                | Португальский язык

                .swiper-slide
                    .translator__card
                        .translator__img-container
                            img.translator__photo(src='../../../img/content/people-05.png' alt='')
                        .translator__text-container
                            .translator__name Барбара
                            .translator__lang
                                | Польский,
                                | английский языки

                .swiper-slide
                    .translator__card
                        .translator__img-container
                            img.translator__photo(src='../../../img/content/people-06.png' alt='')
                        .translator__text-container
                            .translator__name Вадим
                            .translator__lang
                                | Английский,
                                | японский языки

                .swiper-slide
                    .translator__card
                        .translator__img-container
                            img.translator__photo(src='../../../img/content/people-07.png' alt='')
                        .translator__text-container
                            .translator__name Кристина
                            .translator__lang
                                | Итальянский,
                                | испанский,
                                | каталонский&nbsp;языки

                .swiper-slide
                    .translator__card
                        .translator__img-container
                            img.translator__photo(src='../../../img/content/people-08.png' alt='')
                        .translator__text-container
                            .translator__name Марк
                            .translator__lang
                                | Немецкий,
                                | английский языки

                .swiper-slide
                    .translator__card
                        .translator__img-container
                            img.translator__photo(src='../../../img/content/people-09.png' alt='')
                        .translator__text-container
                            .translator__name Сара
                            .translator__lang
                                | Английский,
                                | гранцузский языки
            // Add Arrows
            .swiper-button-next
            .swiper-button-prev


