mixin banner(data)
    .banner
        blockquote
            p.banner__text Eclipse – имя самого быстрого в мире скакуна. Он выиграл все забеги, в&nbsp;которых участвовал. Само появление живой легенды на ипподроме лишало соперников малейших шансов на победу.
            p.banner__text Среди наших клиентов есть крупные компании и министерства. Градообразующие предприятия и небольшие фирмы, которые только выходят на международную арену. Всем им важен быстрый и качественный результат.
            p.banner__text И мы его гарантируем. Скорость наших переводов обеспечивает команда из более чем 1200 профессиональных лингвистов со всего мира. И оперативность новейших CAT-технологий.
            p.banner__text Наша работа – открывающийся перед вами мир финансовых перспектив и международных бизнес-проектов. Мир коммуникаций, не ограниченный языковыми барьерами.

            .banner__text-end Eclipse. Вы – впереди.
