mixin achievement-list(data)
    ul.achievement-list
        li.achievement-list__item
            img.achievement-list__img(src='../../../img/content/icon-01.png' alt='icon-01')
            p.achievement-list__description Более 5 лет<br>на рынке
        li.achievement-list__item
            img.achievement-list__img(src='../../../img/content/icon-02.png' alt='icon-02')
            p.achievement-list__description Сертификат<br>ISO
        li.achievement-list__item
            img.achievement-list__img(src='../../../img/content/icon-03.png' alt='icon-03')
            p.achievement-list__description Член&nbsp;международной ассоциации&nbsp;GALA
        li.achievement-list__item
            img.achievement-list__img(src='../../../img/content/icon-04.png' alt='icon-04')
            p.achievement-list__description Более&nbsp;500 постоянных&nbsp;клиентов
        li.achievement-list__item
            img.achievement-list__img(src='../../../img/content/icon-05.png' alt='icon-05')
            p.achievement-list__description Более 12 000 часов устного&nbsp;перевода&nbsp;в&nbsp;год
        li.achievement-list__item
            img.achievement-list__img(src='../../../img/content/icon-06.png' alt='icon-06')
            p.achievement-list__description Более&nbsp;120&nbsp;000&nbsp;переведенных страниц&nbsp;в&nbsp;год
