mixin grid(data)
    .grid
        .grid-item.grid-item--width2
            img.grid-img(src='../../../img/content/galery-img-01.jpg' alt='')
        .grid-item
            img.grid-img(src='../../../img/content/galery-img-02.jpg' alt='')
        .grid-item
            img.grid-img(src='../../../img/content/galery-img-05.jpg' alt='')
        .grid-item.grid-item--height2
            img.grid-img(src='../../../img/content/galery-img-04.jpg' alt='')
        .grid-item
            img.grid-img(src='../../../img/content/galery-img-03.jpg' alt='')
        .grid-item
            img.grid-img(src='../../../img/content/galery-img-06.jpg' alt='')
        .grid-item
            img.grid-img(src='../../../img/content/galery-img-07.jpg' alt='')
